.img-resize {
    max-width: 130px;
}
.img-resize-right {
    max-width: 149px;
    height: 48px;
}

.account-position {

    padding-top: 17px;
    margin-right: 11px;
}

.change-font{
    font-size: 13px;
    font-weight: 500;
}

.font-resize {
    font-size:11px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 3rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.marg-right {
    margin-right: 18px;
    color:black!important;
}

.navbar {
        padding: 0px 5px;
        padding-left:32px;
}
.paragraPadd{
    padding:8px;
}


.logoPosit {
    background: rgb(21,55,116);
    background: linear-gradient(0deg, rgba(21,55,116,1) 0%, rgba(49,89,140,1) 0%, rgba(21,55,116,1) 0%, rgba(33,69,126,1) 10%, rgba(40,78,132,1) 13%, rgba(106,157,188,1) 45%, rgba(130,185,208,1) 62%, rgba(130,185,208,1) 63%, rgba(130,185,208,1) 65%);
}

.svPosition {
    height: 91px;
    padding-top: 7px;
    margin-left: 8px;
}

.tv-margin{

    margin-left:21px;
}



.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    
.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 9px 11px;
    outline: 0;
    padding-top: 16px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    background: #fff;
    color: rgb(85, 84, 84);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
}
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #cccccc;
        }
        .select select:disabled {
            opacity: 0.1;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 20px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select_title {
    position: absolute;
    top: 5px;
    font-size: 9px;
    color: gray;
    margin-left: 11px;
    pointer-events: none;
}


.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}


.table {
    margin-bottom: 1rem;
    color: #212529;
    margin: 34px 37px;
    width: 95%;
}


.table td, .table th {
        padding: 7px;
        padding-right: 15px;
        vertical-align: top;
        border-top: -1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
    }


.table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        width: 120px;
 }
    
.bg-thd{
    background-color: #eef3f6;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding-right: 6px;
    list-style: none;
}

.go-right {
    text-align: right;
}


.aroundsp{
    display:flex;
    justify-content: space-between;
}

.popImg-size {
    width: 273px;
    height: 167px;
}


.popover-body {
    padding: 8px 11px;
    color: #212529;
}

.popover {
    position: absolute;
    top: 0;
    top: 77px!important;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 301px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 2.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    width: 300px;
}

.bs-popover-auto[x-placement^=left]>.arrow::before, .bs-popover-left>.arrow::before {
    right: 0;
    border-width: .5rem 0 .5rem .5rem;
    border-left-color: rgba(0,0,0,.25);
    top: -77px;
}

.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after {
    right: 1px;
    border-width: 0.5rem 0 .5rem .5rem;
    border-left-color: white;
    top: -77px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    margin-right: 8px;
}

a {
    color: black;
}

.imgResize {
    width:18px;
}